<div class="main-area clearfix">
	<!-- カート上部 -->
	<div class="cart-top col-xs-12">
		<div class="col-xs-7">
			<h2 class="cart-title">ショッピングカート</h2>
		</div>
		<div class="col-xs-2">
			<p class="payment-text">
				合計：￥5,400
			</p>
		</div>
		<div class="buy-button-area col-xs-2">
			<button type="button" class="btn btn-warning buy-button">
				購入ページへ
			</button>
		</div>
	</div>
	<!-- 商品１ -->
	<div class="cart-item col-xs-12">
		<div class="item-image col-xs-3">
			ジャケット
		</div>
		<div class="col-xs-9">
			<div class="item-text col-xs-12">
				CD名
			</div>
			<div class="col-xs-5">
				カートから削除
			</div>
			<div class="col-xs-5">
				<table width="300">
					<thead>
						<tr>
							<th>単価</th>
							<th>数量</th>
							<th>小計</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>¥5400</td>
							<td>1</td>
							<td>¥5400</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 商品２ -->
	<div class="cart-item col-xs-12">
		<div class="item-image col-xs-3">
			ジャケット
		</div>
		<div class="col-xs-9">
			<div class="item-text col-xs-12">
				CD名
			</div>
			<div class="col-xs-5">
				カートから削除
			</div>
			<div class="col-xs-5">
				<table width="300">
					<thead>
						<tr>
							<th>単価</th>
							<th>数量</th>
							<th>小計</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>¥5400</td>
							<td>1</td>
							<td>¥5400</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- カート下部 -->
	<div class="col-xs-6"></div>
	<div class="col-xs-2">
		<button type="button" class="btn btn-warning">
			購入ページへ
		</button>
	</div>
	<div class="total-area col-xs-4">
		<p class="payment-text2">
			合計：¥5,400
		</p>
	</div>

</div>