<div class="nested-fields">
  <div class="field">
    <%= f.label :disc_number %>
    <br/>
    <%= f.text_field :disc_number %>
  </div>
  <%= link_to_remove_association "remove disc", f %>
</div>