<%= f.fields_for :discs do |disc| %>
  <div class="discs">
      <%= render 'disc_fields', f: disc %>
    <div class="links">
      <%= link_to_add_association 'ディスクの追加', f, :discs %>
    </div>
  </div>
<% end %>