<div class = "col-xs-9">
	<h1>商品新規追加画面</h1>
	<%= render 'admin/items/form', item: @item %>
	<% if flash[:notice] %>
		<div class="alert alert-danger">
	    	<%= flash[:notice] %>
	    </div>
    <% end %>
</div>