<div class="main-area">
	<!-- ジャケット画像 -->
	<div class = "item-image-area col-xs-4">
		ジャケット
	</div>
	<!-- 商品情報 -->
	<div class = "col-xs-8">
		<div class = "item-name-area col-xs-8">
			<!-- シングル、アルバム名 -->
			<h4 class = "item-title">シングル/アルバム名：</h4>
			<p class= "item-title-text">&ensp;我らが4D's</p>
			<h4 class = "item-title">アーティスト名：<h4>
			<p class= "item-title-text">&ensp;4D's</p>
			<!-- 登録情報 -->
			<div class = "item-text-area panel panel-default">
				<h4 class= "item-title">登録情報</h4>
				<h4 class= "item-title">レーベル名：</h4>
				<br>
				<h4 class= "item-title">ジャンル：</h4>
				<br>
			</div>
		</div>
		<!-- 価格情報 -->
		<div class = "item-price-area well col-xs-4">
			<p class ="item-price-title" >取扱情報：取り扱い中</p>
			<div class = "panel">
				<p class="item-price-text">値段（税込）</p>
				<p class="item-price-number">¥ 5,000</p>
			</div>
			<p class ="item-price-title" >取扱情報：取り扱い中</p>
				数量 １個<br>
			<button type="button" class="btn btn-warning buy-button">カートに入れる</button>
			<p class ="item-price-title" ><br>在庫：有り</p>
		</div>
	</div>
	<div class = "item-song-text-area col-xs-12">
		<p class = "item-title2">我らが4D's</p>
		<!-- ディスク１ -->
		<div class="disc-song-box col-xs-10">
			<table>
				<thead>
					<tr>
						<th>ディスク１</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1.我らが4D's!!</td>
					</tr>
					<tr>
						<td>2.我らが4D's!!(off vocal)</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- ディスク２ -->
		<div class="disc-song-box col-xs-10">
			<table>
				<thead>
					<tr>
						<th>ディスク２</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1.進撃のやっさん</td>
					</tr>
					<tr>
						<td>2.進撃のやっさん（オーケストラver)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>