<!DOCTYPEhtml>

<head>
	<meta charset="UTH-8">
	<link rel="stylesheet" href="style.css">
</head>

<body>
<h1 class="header">ECD`s</h1>
	<div class="main">
		<h2>管理者TOP PAGE</h2>
		<div>管理者用のページです</div>
		<div class="sidebar">
			<div class="list">
			<h3>List一覧</h3>
				<div class="list-menu">
					<li><a href="#">ユーザー情報一覧</a></li>
					<li><a href="#">新規商品追加</a></li>
					<li><a href="#">注文一覧</a></li>
					<li><a href="#">商品一覧</a>
					</li>
					<li>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link-decoration" %>
					</li>
				</div>
			</div>
		</div>
	<div>
</body>
