<!DOCTYPEhtml>
<body>
	<h1 style="text-align: center; border-bottom: solid 1px; ">ECD`s</h1>
	<div style="text-align: center; padding-top: 50px;">
		<h2>管理者TOP PAGE</h2>
		<div>管理者用のページです</div>
	</div>
</body>
