<!DOCTYPEhtml>

<head>
	<meta charset="UTH-8">
	<link rel="stylesheet" href="style.css">
</head>

<body>
<h1 class="header">ECD`s</h1>
	<div class="main">
		<h2>管理者TOP PAGE</h2>
		<div>管理者用のページです</div>
		<div class="sidebar">
			<div class="list">
			<h3>List一覧</h3>
				<div class="list-menu">
					<li><a href="#">リスト一覧</a></li>
					<li><a href="#">新規商品一覧</a></li>
					<li><a href="#">注文一覧</a></li>
					<li><a href="#">商品一覧</a>
						<ul class="sub">
							<a href="#">サブメニューA</a></li><br>
							<a href="#">サブメニューB</a></li>
						</ul>
					</li>
					<li><a href="#">ログアウト</a></li>
				</div>
			</div>
		</div>
	<div>
</body>
