// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  商品一覧ページ
.addmin-item-box{
	width: 30%;
	float: left;
	display: inline-block;
	margin-right: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
	border: solid 1px;
	text-align: center;
}
.addmin-item-contents{
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
.addmin-item-index{
	text-align: center;
}
.addmin-paginate-items{
	text-align: center;
}

//  商品詳細ページ


//商品編集ページ
.item-edit-form{
	width: 80%;
	padding-bottom: 30px;
	border: solid 1px;
}
.item-edit-text{
	padding-left: 50px;
}
.image-area{
	width: 100px;
	height: 100px;
	float: left;
	border: solid 1px;
}
.iamge-txet{
	width: 300px;
	height: 150px;
	float: left;
	border: solid 1px;
}
.image-edit-btn{
	padding: 15px;
}