// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addmin-order-payment{
	width: 600px;
	display: inline-block;
}
.addmin-order-status-box{
	height: 30px;
	border: solid 1px;
}
.delivery-status{
	text-align: right;
}