// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザ一覧ページ
.admin-users-area{
	width: 50%;
	margin: 0 auto;
}
.admin-users-title{
	padding: 20px 0;
}

// ユーザ詳細ページ
.profile-box{
	text-align:  center;
}
.center {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.under-bar{
	border-bottom: solid 2px black;
}
