// Place all the styles related to the user/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// アドレス一覧
.new-address{
	padding: 110px 100px 0 100px;
	margin: 0 50px 50px 100px;
	border: solid 1px;
	width: 35%;
	height: 300px;
	float: left;
}

.address-box{
	padding: 110px 100px 0 100px;
	margin: 0 50px 50px 100px;
	border: solid 1px;
	width: 35%;
	height: 300px;
	float: left;
}

.address-index{
	text-align: center;
}

