// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-main {
	background-image: url(./images/Abstract-Music-Rock-Bw-l.jpg);
  	background-position: center;
}
.top-search-box{
	width : 50%;
	margin: 0 auto;
	text-align:  center;
}