// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-main {
	height: 500px;
	background-image: url(./images/Abstract-Music-Rock-Bw-l.jpg);
  	background-position: center;
}
.top-title{
	padding: 0;
	margin: 0;
	font-size: 300px;
	font-family: "Spectral",serif;
	font-weight: bold;
}
.top-search-box{
	padding-top: 20px;
	text-align:  center;
	opacity: 0.8;
}
.search-notice{
	text-align:  center;
	font-size: 30px;
}