// Place all the styles related to the user/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  商品詳細ページ
.main-area{
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
}
.item-image-area{
	height: 300px;
}
.item-title{
	font-size: 16px;
	padding-left: 10px;
}
.item-title-text1{
	font-size: 28px;
	text-align: center;
}
.item-title-text2{
	font-size: 14px;
	padding-left: 50px;
}
.item-text-area{
	margin: 10px 0;
}
.item-price-area{
	height: 280px;
}
.item-price-title{
	padding: 10px 0;
}
.item-price-number{
	text-align: right;
	padding-right: 30px;
	font-size: 20px;
	color: #0000FF;
}
.item-song-text-area{
	height: 400px;
	border: solid 1px black;
	margin: 20px 0;
}
.item-song-text-box{
	border: solid 1px black;
	margin: 5px 0;
}
.item-title2{
	font-size: 16px;
	padding: 10px 0 0 20px;
}
.disc-song-box {
	border: solid 1px gray;
	margin: 10px 0;
}

//  商品一覧ページ
.item-box{
	width: 31%;
	float: left;
	display: inline-block;
	margin-right: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
/*	border: solid 1px;*/
	text-align: center;
}
.item-contents{
	margin: 0 auto;
/*	padding: 0 15px 0 15px;*/
	background-color: white;
}
.item-index{
	text-align: center;
}
.user-paginate-items{
	text-align: center;
}