// Place all the styles related to the user/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー購入履歴
.order-date-box{
	height: 20px;
	border: solid 1px;
}
.order-address-box{
	float: left;
}
.order-item-box{
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}
.user-delivery-pay{
	text-align: right;
}
.user-order-payment{
	text-align: right;
	width: 1100px;
}
.order-item-name{
	font-size: 16px;
	font-weight: bold;
}
.order-title{
	font-size: 22px;
	font-weight: bold;
}
.order-text{
	font-size: 12px;
}
.order-box{
	border: solid 1px black;
}

// 注文内容確認欄
.order-item-area{
	padding: 20px 0;
	border: solid 1px black;
}
.order-item-image{
	height: 120px;
}
.item-payment{
	float: right;
	padding-top: 20px;
}
// 注文確定欄
.order-confirm-area{
	padding: 20px 0;
	margin-left: 20px;
	border: solid 1px black;
}
// 配送住所選択欄
.order-address-choice{
	border: solid 1px black;
}
.order-address-radio {
	margin: 20px;
}

// 支払い情報選択欄
.order-payment-choice{
	border: solid 1px black;
}
.order-payment-radio{
	margin: 20px;
}