.title{
	width: 300px;
	font-size: 50px;
	padding-top: 100px;
	margin-left: 200px;
	inline: block;
}
.user-form{
	width: 600px;
	height: 600px;
	margin: auto;
	border: solid 1px;
}

.text{
	padding-left: 50px;
}

.space{}