.pofile{
	font-size: 32px;
	padding-right: 50px;
}
.user-form{
	height: 550px;
	margin: auto;
	border: solid 1px;
}
.text{
	padding-left: 50px;
}
.space{
	width: 60%;
	border: solid 1px;
}
.btn{
	margin-bottom: 5px;
}