// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//エンドユーザマイページ/ユーザ編集ページ
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.text{
	padding-left: 30px;
}
.pofile-btn{
	text-align: right;
	padding: 30px;
}
.user-profile-text{
	border-radius: 4px;
	box-shadow: 2px 2px 4px;
	padding: 1px 0 0 20px;
}

//マイページ
.container{
	padding-top: 30px;
	padding-bottom: 50px;
}
.space{
	width: 60%;
	border-bottom: solid 1px;
}
.user-link-btn{
	padding: 10px 0 0 35px;
}

//ユーザ編集ページ
.btn{
	margin-bottom: 5px;
}
