<div class="admin-sidebar col-xs-3">
	<div class="admin-sidebar-list">
		<h3>List一覧</h3>
		<div class="admin-sidebar-list-menu">
			<li><a href="#">ユーザー情報一覧</a></li>
			<li><a href="#">新規商品追加</a></li>
			<li><a href="#">注文一覧</a></li>
			<li><a href="#">商品一覧</a>
			</li>
			<li><a href="#">ログアウト</a></li>
		</div>
	</div>
</div>