<!-- ヘッダー -->
  <header class="page-header">
    <!-- ロゴ -->
    <div class="col-xs-2">
      <div class="logo-area">
        logo
      </div>
    </div>
    <div class="col-xs-10">
      <h1 class=admin-header-title>ECD's</h1>
    </div>

  </header>